pract1TestWs/src/conf/xml-resources/web-service-references/TempConverter/wsdl/localhost_8080/pract1TestWs/TempConverter.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tycs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tycs/" name="TempConverter">
<types>
<xsd:schema>
<xsd:import namespace="http://tycs/" schemaLocation="http://localhost:8080/pract1TestWs/TempConverter?xsd=1"/>
</xsd:schema>
</types>
<message name="FtoC">
<part name="parameters" element="tns:FtoC"/>
</message>
<message name="FtoCResponse">
<part name="parameters" element="tns:FtoCResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="CtoF">
<part name="parameters" element="tns:CtoF"/>
</message>
<message name="CtoFResponse">
<part name="parameters" element="tns:CtoFResponse"/>
</message>
<portType name="TempConverter">
<operation name="FtoC">
<input wsam:Action="http://tycs/TempConverter/FtoCRequest" message="tns:FtoC"/>
<output wsam:Action="http://tycs/TempConverter/FtoCResponse" message="tns:FtoCResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://tycs/TempConverter/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tycs/TempConverter/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="CtoF">
<input wsam:Action="http://tycs/TempConverter/CtoFRequest" message="tns:CtoF"/>
<output wsam:Action="http://tycs/TempConverter/CtoFResponse" message="tns:CtoFResponse"/>
</operation>
</portType>
<binding name="TempConverterPortBinding" type="tns:TempConverter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FtoC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CtoF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TempConverter">
<port name="TempConverterPort" binding="tns:TempConverterPortBinding">
<soap:address location="http://localhost:8080/pract1TestWs/TempConverter"/>
</port>
</service>
</definitions>