Practical1WS/src/conf/xml-resources/web-service-references/TempConversion/wsdl/localhost_8080/Practical1WS/TempConversion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tycs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tycs/">

<xs:element name="CtoF" type="tns:CtoF"/>

<xs:element name="CtoFResponse" type="tns:CtoFResponse"/>

<xs:element name="FtoC" type="tns:FtoC"/>

<xs:element name="FtoCResponse" type="tns:FtoCResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="FtoC">
<xs:sequence>
<xs:element name="f" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FtoCResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CtoF">
<xs:sequence>
<xs:element name="c" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CtoFResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>