Practical2WebServices/src/conf/xml-resources/web-service-references/Calculator/wsdl/localhost_8080/Practical2WebServices/Calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ty/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ty/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="div" type="tns:div"/>

<xs:element name="divResponse" type="tns:divResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="mul" type="tns:mul"/>

<xs:element name="mulResponse" type="tns:mulResponse"/>

<xs:element name="sub" type="tns:sub"/>

<xs:element name="subResponse" type="tns:subResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="a" type="xs:float"/>
<xs:element name="b" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="div">
<xs:sequence>
<xs:element name="a" type="xs:float"/>
<xs:element name="b" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sub">
<xs:sequence>
<xs:element name="a" type="xs:float"/>
<xs:element name="b" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mul">
<xs:sequence>
<xs:element name="a" type="xs:float"/>
<xs:element name="b" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mulResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>