Pract2Calculatorws/src/conf/xml-resources/web-service-references/Calculator/wsdl/localhost_8080/Pract2Calculatorws/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tycs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tycs/" name="Calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://tycs/" schemaLocation="http://localhost:8080/Pract2Calculatorws/Calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<message name="subtraction">
<part name="parameters" element="tns:subtraction"/>
</message>
<message name="subtractionResponse">
<part name="parameters" element="tns:subtractionResponse"/>
</message>
<portType name="Calculator">
<operation name="hello">
<input wsam:Action="http://tycs/Calculator/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tycs/Calculator/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addition">
<input wsam:Action="http://tycs/Calculator/additionRequest" message="tns:addition"/>
<output wsam:Action="http://tycs/Calculator/additionResponse" message="tns:additionResponse"/>
</operation>
<operation name="subtraction">
<input wsam:Action="http://tycs/Calculator/subtractionRequest" message="tns:subtraction"/>
<output wsam:Action="http://tycs/Calculator/subtractionResponse" message="tns:subtractionResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculator">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/Pract2Calculatorws/Calculator"/>
</port>
</service>
</definitions>