Pract2Calculatorws/src/conf/xml-resources/web-service-references/Calculator/wsdl/localhost_8080/Pract2Calculatorws/Calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tycs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tycs/">

<xs:element name="addition" type="tns:addition"/>

<xs:element name="additionResponse" type="tns:additionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="subtraction" type="tns:subtraction"/>

<xs:element name="subtractionResponse" type="tns:subtractionResponse"/>

<xs:complexType name="addition">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="additionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtraction">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>